{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" type = "image/png" href="{% static 'img/favicon.png' %}">
    
</head>
<body>
    <div class="login-wrapper">
        <div class="login-card">
            <h1>Resetear contraseña</h1>
            <p class="subtitle">Recibirás un correo con instrucciones para restablecer su contraseña</p>
            <form method="POST" class="register-form" id="login-form" action= '' >
                {% csrf_token %}
                <div class="form-group">
                    <label for="your_name">Ingresa tu correo de dive</label>
                    <div class="input-group">
                    <input type="text" name="email" id="id_email" placeholder="Email"/>
                </div>
                </div>
                <div class="form-group">
                    <input type="submit" name="signin" id="signin" class="login-btn" value="Reset"/>
                </div>
                </form>
            
        </div>
    </div>
</body>
</html>

