
.projects-list-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #B3D5E8;
}


.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 550px; 
    overflow-y: auto;
}
